[submodule "subprojects/dpdk"]
	path = subprojects/dpdk
	url = https://github.com/yanet-platform/dpdk
[submodule "subprojects/json"]
	path = subprojects/json
	url = https://github.com/nlohmann/json.git
[submodule "subprojects/emhash"]
	path = subprojects/emhash
	url = https://github.com/ktprime/emhash.git
[submodule "subprojects/ankerl"]
	path = subprojects/ankerl
	url = https://github.com/martinus/unordered_dense
[submodule "subprojects/pcap"]
	path = subprojects/pcap
	url = https://github.com/yanet-platform/PcapPlusPlus.git
