name: Run CI

on:
  push:
    branches: ["main", "release/*"]
  pull_request:
    branches: ["main", "release/*"]

jobs:
  formatting-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - name: Run clang-format style check
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: "18"
          exclude-regex: .*\.proto

  build-unittest:
    needs: formatting-check
    runs-on: ubuntu-24.04
    container:
      image: yanetplatform/builder-lite
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: |
          meson setup -Dtarget=unittest build_unittest
          meson compile -C build_unittest
      - name: bug https://github.com/actions/upload-artifact/issues/38
        run: tar -cvzf build_unittest.tar.gz build_unittest
      - uses: actions/upload-artifact@v4
        with:
          name: build_unittest
          path: build_unittest.tar.gz
          retention-days: 1

  build-autotest:
    needs: formatting-check
    runs-on: ubuntu-24.04
    container:
      image: yanetplatform/builder-lite
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: |
          meson setup --prefix=/target_autotest -Dtarget=autotest -Dstrip=true build_autotest
          meson compile -C build_autotest
      - run: meson install -C build_autotest
      - name: bug https://github.com/actions/upload-artifact/issues/38
        run: tar -C /target_autotest -cvzf target_autotest.tar.gz ./
      - uses: actions/upload-artifact@v4
        with:
          name: target_autotest
          path: target_autotest.tar.gz
          retention-days: 1

  build:
    needs: formatting-check
    runs-on: ubuntu-24.04
    container:
      image: yanetplatform/builder-lite
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - run: |
          meson setup --prefix=/target -Dstrip=true build
          meson compile -C build
      - run: meson install -C build

  unittest:
    needs: build-unittest
    runs-on: ubuntu-24.04
    container:
      image: yanetplatform/builder-lite
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build_unittest
      - name: bug https://github.com/actions/upload-artifact/issues/38
        run: tar -xf build_unittest.tar.gz
      - run: meson test --no-rebuild -C build_unittest

  autotest-001_one_port:
    name: 001_one_port
    needs: build-autotest
    runs-on: ubuntu-24.04
    container:
      image: yanetplatform/builder-lite
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/download-artifact@v4
        with:
          name: target_autotest
      - name: bug https://github.com/actions/upload-artifact/issues/38
        run: tar -C /usr -xf target_autotest.tar.gz
      - run: yanet-autotest-run.py autotest/units/001_one_port

  deploy:
    needs:
      - unittest
      - autotest-001_one_port
      - build
    runs-on: ubuntu-24.04
    steps:
      - run: echo deploy
